@font-face {
    font-family: "BQ";
    src: url("../assets/CLOUDYWITHACHANCEOFLOVE.ttf");
}
* { margin: 0; padding: 0; }
.ttf {
    font-family: "BQ";
    font-size: 0px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}